@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
</div>
<div class="row">
    <div class="col-md-10">
        <div class="card text-center border-0 shadow bg-dark">
            <div class="card-title">
                <h1>musicwithfriends</h1>
            </div>
            <div class="card-body">
                <a class="btn btn-primary"> Create Room</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
</div>
<div class="row">

</div>