@page
@model musicwithfriends.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<br>
<br>

<div class="col-md-9">
    <div class="text-center">
        <div class="card-title">
            <h1>Listen to music with friends!</h1>
            <h3>Create a party anywhere.</h3>
        </div>
        <div class="card-body">
            <a class="btn btn-outline-primary btn-lg" asp-page="Room/Create">Create Room</a>
            <a class="btn btn-outline-secondary btn-lg" asp-page="Room/Index">Room Index</a>
        </div>
    </div>
</div>