@page
@using musicwithfriends.Pages.Room
@model musicwithfriends.Pages.Room.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <br />
    
            <h2>Create a Room</h2>
            <hr />
        
            <form method="post">
                <div class="form-group">
                    <label class="col-form-label" for="txtRoomName">Room Name: </label>
                    <input type="text" id="txtRoomName" class="form-control" value="@Html.DisplayFor(modelItem => modelItem.roomName)" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                    <button style="float: right" class="btn btn-outline-light" asp-page="Room/Index">Back</button>
                </div>
            </form>
        
   
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
