@page "{id:int}"
@model musicwithfriends.Pages.Room.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<h4>@Model.RoomName </h4>
<a asp-page="./Index">Back to Room List</a>
<br />
<br />
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input asp-for="FileUpload.UploadSong" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="FileUpload.UploadSong" class="text-danger"></span>
                <label asp-for="FileUpload.AnotherInput" hidden="hidden" class="control-label"></label>
                <input asp-for="FileUpload.AnotherInput" hidden="hidden" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="FileUpload.AnotherInput" class="text-danger"></span>
            </div>
            
            <div class="col-md-2">
                <input type="submit" value="Upload" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<h3>Songs in this room</h3>
<table class="table">
    @foreach (var song in Model.Songs)
    {
        <tr>
            <td>@song.SongName</td>
            <td>
                <audio id="audiosource" controls="controls">
                    <source src="@song.FileLocation" type="audio/mpeg" />
                </audio>
            </td>
            <td><a class="btn btn-outline-danger" asp-page="/Songs/Delete" asp-route-id="@song.SongId">Delete</a></td>
        </tr>
    }
</table>
