@page
@model musicwithfriends.Pages.Room.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">New Room</a>
</p>
<table class="table ">
    <tbody>
@foreach (var item in Model.Room) {
    <tr>
        <td>@item.RoomName</td>
        <td>
            <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.RoomId">Enter</a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
